@import "tailwindcss";

:root {
  --red: #fa0000;
  --yellow: #fee800;
  --green: #009a2a;
  --blue: #00acff;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: radial-gradient(circle,rgba(11,64,177,1) 0%, rgba(7,30,78,1) 100%); */
  background-image: url('../../public/ludoBack.png');
  background-size: cover;
  background-position: center;
}
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: aliceblue;
  position: relative;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: small;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Adjust the blur radius as needed */
  z-index: -1; /* Ensure the pseudo-element stays behind the content */
}

p {
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Dice start */
#dice{
  width: 50px;
  height: 50px;
  margin: 10px;
  perspective: 1000px;
  cursor: pointer;
}

.dice {
  width: 50px;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
}

.face {
  width: 50px;
  height: 50px;
  background-color: #8a0000;
  border-radius: 20%;
  position: absolute;
  transform-style: preserve-3d;
}

.shadow-on {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3) inset; 
}

.inner-face {
    display: grid;
    /* width: 40px; */
    height: 49px;
    padding: 5px;
}

.dice-initial-face {
    display: flex;
    font-size: x-small;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 0 5px #000;
}

.face.front {
  transform: translateZ(25px);
}

.face.back {
  transform: translateZ(-25px);
}

.face.right {
  transform: translateX(25px) rotateY(90deg);
}

.face.left {
  transform: translateX(-25px) rotateY(-90deg);
}

.face.top {
  transform: translateY(-25px) rotateX(90deg);
}

.face.bottom {
  transform: translateY(25px) rotateX(-90deg);
}


.face1 {
  grid: none;
}


.face2 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.face3 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.face4 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.face5 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.face6 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}


.face2 > .dot:nth-child(1) {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}
.face2 > .dot:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}


.face3 > .dot:nth-child(1) {
  grid-column: 3 / 3;
}
.face3 > .dot:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.face3 > .dot:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 3;
}

.face5 > .dot:nth-child(2) {
  grid-column: 3 / 3;
}
.face5 > .dot:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.face5 > .dot:nth-child(4) {
  grid-row: 3 / 3;
}
.face5 > .dot:nth-child(5) {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}

.face4 > .dot:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.face4 > .dot:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.face4 > .dot:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}
.face4 > .dot:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

/* Face 6 */
.face6 > .dot:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.face6 > .dot:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.face6 > .dot:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.face6 > .dot:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}
.face6 > .dot:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}
.face6 > .dot:nth-child(6) {
  grid-column: 2;
  grid-row: 3;
}


@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(720deg) rotateY(720deg);
  }
}


.dice.rotate {
  animation: rotate 1s cubic-bezier(0.4, 0, 0.2, 1);
}
/* Dice end */


/* home start */
.home {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    border-radius: 5%;
}

.home-inner {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 0 0 10px #000;
    gap: 10px;
  place-items: center
}

#red-0, #blue-0, #green-0, #yellow-0 {
    grid-row: 1; 
  grid-column: 1;
}

#red-1, #blue-1, #green-1, #yellow-1 {
    grid-row: 1; 
  grid-column: 2;
}

#red-2, #blue-2, #green-2, #yellow-2 {
    grid-row: 2; 
  grid-column: 1;
}

#red-3, #blue-3, #green-3, #yellow-3 {
    grid-row: 2; 
  grid-column: 2;
}

.red-chance, .blue-chance, .green-chance, .yellow-chance {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 2px 2px 2px 1px rgb(91, 91, 91); 
  }
  100% {
    box-shadow: 4px 4px 4px 4px #3d3d3d;
  }
}
/* home end */

/* Board start */
/* #board-container {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
} */

/* Home */
#red-home{
  grid-area: rh;
}
#yellow-home{grid-area: yh;}
#green-home{grid-area: gh;}
#blue-home{grid-area: bh;}

/* Tracks */
.track-1{grid-area: t1;}
.track-2{grid-area: t2;}
.track-3{grid-area: t3;}
.track-4{grid-area: t4;}
.track-5{grid-area: t5;}
.track-6{grid-area: t6;}
.track-7{grid-area: t7;}
.track-8{grid-area: t8;}
.track-9{grid-area: t9;}
.track-10{grid-area: t10;}
.track-11{grid-area: t11;}
.track-12{grid-area: t12;}
.track-13{grid-area: t13;}
.track-14{grid-area: t14;}
.track-15{grid-area: t15;}
.track-16{grid-area: t16;}
.track-17{grid-area: t17;}
.track-18{grid-area: t18;}
.track-19{grid-area: t19;}
.track-20{grid-area: t20;}
.track-21{grid-area: t21;}
.track-22{grid-area: t22;}
.track-23{grid-area: t23;}
.track-24{grid-area: t24;}
.track-25{grid-area: t25;}
.track-26{grid-area: t26;}
.track-27{grid-area: t27;}
.track-28{grid-area: t28;}
.track-29{grid-area: t29;}
.track-30{grid-area: t30;}
.track-31{grid-area: t31;}
.track-32{grid-area: t32;}
.track-33{grid-area: t33;}
.track-34{grid-area: t34;}
.track-35{grid-area: t35;}
.track-36{grid-area: t36;}
.track-37{grid-area: t37;}
.track-38{grid-area: t38;}
.track-39{grid-area: t39;}
.track-40{grid-area: t40;}
.track-41{grid-area: t41;}
.track-42{grid-area: t42;}
.track-43{grid-area: t43;}
.track-44{grid-area: t44;}
.track-45{grid-area: t45;}
.track-46{grid-area: t46;}
.track-47{grid-area: t47;}
.track-48{grid-area: t48;}
.track-49{grid-area: t49;}
.track-50{grid-area: t50;}
.track-51{grid-area: t51;}
.track-52{grid-area: t52;}

/* red winner track */
.track-101{grid-area: r1;}
.track-102{grid-area: r2;}
.track-103{grid-area: r3;}
.track-104{grid-area: r4;}
.track-105{grid-area: r5;}


/* yellow home track */
.track-201{grid-area: y1;}
.track-202{grid-area: y2;}
.track-203{grid-area: y3;}
.track-204{grid-area: y4;}
.track-205{grid-area: y5;}

/* green home track */
.track-301{grid-area: g1;}
.track-302{grid-area: g2;}
.track-303{grid-area: g3;}
.track-304{grid-area: g4;}
.track-305{grid-area: g5;}

/* blue home track */
.track-401{grid-area: b1;}
.track-402{grid-area: b2;}
.track-403{grid-area: b3;}
.track-404{grid-area: b4;}
.track-405{grid-area: b5;}

/*win-win*/
#win-win{grid-area: ww;}

#board{
  display: grid;
  width: fit-content;
  height: max-content;
  background: white;
  border-radius: 2%;
  box-shadow: 0 0 10px #fff;
  padding: 25px;
  transform: scale(0.9);
  grid-template-areas: 
    'yh yh yh yh yh yh t24 t25 t26 gh gh gh gh gh gh'
    'yh yh yh yh yh yh t23 g1 t27 gh gh gh gh gh gh'
    'yh yh yh yh yh yh t22 g2 t28 gh gh gh gh gh gh'
    'yh yh yh yh yh yh t21 g3 t29 gh gh gh gh gh gh'
    'yh yh yh yh yh yh t20 g4 t30 gh gh gh gh gh gh'
    'yh yh yh yh yh yh t19 g5 t31 gh gh gh gh gh gh'
    't13 t14 t15 t16 t17 t18 ww ww ww t32 t33 t34 t35 t36 t37'
    't12 y1 y2 y3 y4 y5 ww ww ww b5 b4 b3 b2 b1 t38'
    't11 t10 t9 t8 t7 t6 ww ww ww t44 t43 t42 t41 t40 t39'
    'rh rh rh rh rh rh t5 r5 t45 bh bh bh bh bh bh'
    'rh rh rh rh rh rh t4 r4 t46 bh bh bh bh bh bh'
    'rh rh rh rh rh rh t3 r3 t47 bh bh bh bh bh bh'
    'rh rh rh rh rh rh t2 r2 t48 bh bh bh bh bh bh'
    'rh rh rh rh rh rh t1 r1 t49 bh bh bh bh bh bh'
    'rh rh rh rh rh rh t52 t51 t50 bh bh bh bh bh bh';
}

.track{
  border: 1px solid #0000007d;
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.track.red.final, .track.red.start{
  background-color: #a70101;
}

.track.yellow.final, .track.yellow.start{
  background-color: #ffd90e;
} 

.track.green.final, .track.green.start{
  background-color: #398f01;
} 

.track.blue.final, .track.blue.start{
  background-color: #0c15be;
} 

.track.start{
  color: white;
  position: relative;
  font-size: 2.5rem;
}

.track.stop{
  color: black;
  /* opacity: 0.5; */
  position: relative;
  font-size: 3.5rem;
  /* background-color: lightsteelblue; */
  border: 1px solid black;
}

.track.start::before, .track.stop::before{
  content: 'âš';
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.track.multiple-pieces > div {
  zoom: 0.4;
}

@media only screen and (max-width: 768px) {
  #board {
    transform: scale(0.5); 
  }
}

/* board end */


/* doing all testing */

.home {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
    border-radius: 5%;
}

.home-inner {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 0 0 10px #000;
}

#red-0, #blue-0, #green-0, #yellow-0 {
    grid-row: 1; 
  grid-column: 1;
}

#red-1, #blue-1, #green-1, #yellow-1 {
    grid-row: 1; 
  grid-column: 2;
}

#red-2, #blue-2, #green-2, #yellow-2 {
    grid-row: 2; 
  grid-column: 1;
}

#red-3, #blue-3, #green-3, #yellow-3 {
    grid-row: 2; 
  grid-column: 2;
}

.red-chance, .blue-chance, .green-chance, .yellow-chance {
  animation: blink 700ms ease-in-out infinite alternate;
}

@keyframes blink {
  0% {
    box-shadow: 0 0 50px 5px #ff0; /* Initial box shadow */
  }
  100% {
    box-shadow: 0 0 10px 0 #737100; /* Glowing effect */
  }
}

.piece-outer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px #00000091;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}
.piece {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px #00000091;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.piece-inner {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ffffff00;
    box-shadow: 0 0 10px #000000a3;
    transition: transform 0.3s ease;
}

.piece:hover .piece-inner {
    box-shadow: 0 5px 10px #00000091;
    transform: scale(1.1);
    animation: rotateSquare 2s linear infinite
}

.piece:hover {
    box-shadow: inset 0 0 10px #00000091;
    transform: scale(1.05);
}

@keyframes rotateSquare {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.piece:active, .piece-inner:active {
    transform: scale(1.3);
}

.current-player-info {
    color: aliceblue;
}

.current-player-heading {
    text-transform: uppercase;
    font-family: monospace;
    margin-bottom: 0;
    font-weight: 100;
}

.current-player-name {
    margin-top: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}
.cpn-red {
    color: rgb(178, 34, 34);
}

.cpn-green {
    color: rgb(34, 139, 34);
}

.cpn-blue {
    color: rgb(16, 52, 166);
}

.cpn-yellow {
    color: rgb(244, 196, 49);
}
.game-over {
 font-size: large;
}

.restart-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.restart-game-btn {
    box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.37);
    padding: 10px;
    margin: 10px;
    width:fit-content;
    border-radius: 50px;
    cursor: pointer;
    border: solid 1px;
    background-color: rgba(240, 248, 255, 0.582);
    font-weight: bold;
    color: black;
}

.restart-game-btn:active {
    font-size: small;
    user-select: none;
    text-shadow: 0 0 5px #fff;
    transform: scale(1.05);
}

@media screen and (max-width: 600px){
    .game-over {
        font-size: small
       }
}

/* .App {
  padding: 25px;
  text-align: center;
  height: calc(100vh - 50px);
  width: calc(100% - 70px);
  display: grid;
  grid-template-columns: 70% 30%; 
  gap: 20px;
} */
 .App {
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 70% 30%;
    height: 100vh;
    width: 100vw;
    padding: 25px;
    text-align: center;
  }

#board-container{
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#second-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dice-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.icons {
  color: aliceblue;
  cursor: pointer;
  user-select: none;
  font-size: large;
}

.icons:active {
  transform: scale(1.2);
}

hr {
  border-top: 0;
  border-color: #fdfdfd3d;
}

.mobile-current-player > div > h1 {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 15px;
    padding-top: 0;
    height: calc(100vh - 70px);
    width: calc(100vw - 30px);
    grid-template-columns: 100%;
    gap: 20px
  } 
}

@media screen and (min-width: 550px) {
  .mobile-current-player {
    display: none;
  }
}

.token-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-base {
  width: 40px;
  height: 40px;
  background-color: white; /* darker red base */
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  bottom: 6px; /* base stays under the icon */
    z-index: 0;
  pointer-events: none;
  box-shadow: inset 4px 4px 4px rgb(37, 0, 0);
  /* animation: spin 1s linear infinite; */
}
.spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.token-icon {
font-size: 52px;
    position: absolute;
    top: -21px;
    z-index: 1;
    cursor: pointer;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.5));
}

@keyframes jump {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-15px); }
  50%  { transform: translateY(-20px); }
  70%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.jump {
  animation: jump 0.4s ease-out;
}

/* winner */

.square {
    border: solid 5px whitesmoke;
    position: relative;
    overflow: hidden;
    border-radius: 10%;
}

.win-containers {
    position: relative;
    width: 150%;
    height: 150%;
    transform: rotate(-45deg);
    top: -38px;
    left: -38px;
  }
  
  .win-color {
    display: grid;
    border-radius: 5%;
    position: absolute;
    width: 50%;
    height: 50%;
    background: #FFEC85;
    background: linear-gradient(135deg, #FFEC85, #FFD701);
  }

  .win-color > div {
    zoom: 0.5;
  }

  .winner-collecting {
    padding: 15px;
    display: grid;
    gap: 3px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }

  /* Position the red pieces in the win area. */
  .wc-red > #red-0 {
    grid-column: 5;
  }
  .wc-red > #red-1 {
    grid-column: 4;
  }
  .wc-red > #red-2 {
    grid-column: 5;
    grid-row: 2;
  }
  .wc-red > #red-3 {
    grid-column: 4;
    grid-row: 2;
  }

  /* Position the green pieces in the win area. */
  .wc-green > #green-0 {
    grid-row: 4;
  }
  .wc-green > #green-1 {
    grid-row: 3;
    grid-column: 1;
  }
  .wc-green > #green-2 {
    grid-row: 4;
    grid-column: 2;
  }
  .wc-green > #green-3 {
    grid-row: 3;
    grid-column: 2;
  }

  /* Position the yellow pieces in the win area. */
  .wc-yellow > #yellow-0 {
    grid-row: 4;
    grid-column: 5;
  }
  .wc-yellow > #yellow-1 {
    grid-row: 3;
    grid-column: 5;
  }
  .wc-yellow > #yellow-2 {
    grid-row: 4;
    grid-column: 4;
  }
  .wc-yellow > #yellow-3 {
    grid-row: 3;
    grid-column: 4;
  }
  
  .yellow-win {
    top: 2px;
    left: 2px;
  }
  
  .green-win {
    top: 5px;
    right: 0;
    background: #378801;
    background: linear-gradient(45deg, #378801, #4AC601);
  }
  
  .red-win {
    bottom: 0;
    left: 0;
    background: #880101;
    background: linear-gradient(315deg, #880101, #C60101);
  }
  
  .blue-win {
    bottom: 0;
    right: 0;
    background: #1101FF;
    background: linear-gradient(315deg, #1101FF, #011D40);
  }